<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

</head>
<body background="../static/bg.jpg">
    {% if message %}
        <h5 style="color: red;">ALERT: {{ message }}</h5>
    {% endif %}
    <span style="font-size:30px;">Welcome to Blackjack</span>
    <br/>
    <span style="font-size:15px;">Your id: {{user_data.login}}</span>
    <br/> 
    <span style="font-size:15px;">Your balance: {{user_data.balance}}</span>

    <br/>
    <img src="{{url_for('static', filename='img.png')}}" style="width: 300px; height: 200px;"/>
    <form method="get" action="/start">
        To start game press: <button type="submit">start</button>
    </form>
</body>
</html>